.encounter_card{
    flex-direction: column;
    gap: 1em;
    border: 5px solid black;
    padding: 35px;
    border-radius: 15%;
    background-color: rgb(236, 77, 109);
    box-shadow: 10px 10px 5px rgba(0, 0, 0, 0.473);
}

.pokemon_data{
    flex-direction: column;
    gap: 1em;
    border: 3px solid black;
    border-radius: 10%;
    background-color: aqua;
    padding: 10px;
    box-shadow: 5px 5px 2px rgba(0, 0, 0, 0.582);
}

.details{
    flex-direction: row;
    gap: 2em;
}

li{
    font-size: 18px;
    font-weight: 600;
}

ul{
    border-radius: 25%;
    padding: 1em;
    border: 5px solid black;
    background-color: rgba(204, 204, 204, 0.788);
    list-style-type: none;
    display: flex;
    flex-flow: column;
    gap: 1em;
}

img{
    width: 15em;
    height: 15em;
    image-rendering: pixelated;
}

.back_button, .battle_button{
    padding: 12px;
    color: white;
    background-color:rgb(33, 153, 33);
    border: 1px solid black;
    font-weight: 600;
    font-size: 22px;
    border-radius: 10px;
    cursor: pointer;
    box-shadow: 3px 3px 1px rgba(0, 0, 0, 0.582);
}

.battle_button{
    color: black;
    background-color: rgb(209, 98, 200);
}

.top-of-pokedex{
    width: 100%;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 1em;
}

.red-circle, .yellow-circle, .green-circle{
    width: 1.5em;
    height: 1.5em;
    border-radius: 50%;
    border: 2px solid black;
    box-shadow: 2px 2px 1px rgba(0, 0, 0, 0.582);
}

.blue-circle{
    width: 4em;
    height: 4em;
    background-image: radial-gradient(rgb(18, 18, 168), rgb(68, 81, 252));
    border-radius: 50%;
    border: 6px solid white;
    box-shadow: 3px 3px 2px rgba(0, 0, 0, 0.582);
}

.red-circle{
    background-color: red;
}

.yellow-circle{
    background-color: yellow;
}

.green-circle{
    background-color: rgb(0, 173, 0);
}

.pokedex-buttons{
    gap: 2em;
}

.pokemon-name{
    width: 90%;
    padding: 8px;
    font-size: 24px;
    font-weight: 600;
    border-radius: 15%;
    background-color: rgba(187, 187, 187, 0.438);
}