.encounter_card{
    flex-direction: column;
    gap: 1em;
    border: 5px solid black;
    padding: 35px;
    border-radius: 15%;
    background-color: rgb(236, 77, 109);
    background-image: radial-gradient(rgb(236, 77, 109),rgb(187, 26, 58));
    box-shadow: 10px 10px 5px rgba(0, 0, 0, 0.473);
}

.pokemon_data{
    flex-direction: column;
    gap: 1em;
    border: 3px solid black;
    border-radius: 10%;
    background-color: aqua;
    padding: 10px;
    box-shadow: 5px 5px 2px rgba(0, 0, 0, 0.582);
}

.details{
    padding: 0px 10%;
    flex-direction: row;
    gap: 2em;
}

li{
    font-size: 18px;
    font-weight: 600;
}

.stats > ul{
    min-width: 6em;
    border-radius: 10px;
    padding: 1em;
    border: 5px solid black;
    background-color: rgba(255, 255, 255, 0.897);
    list-style-type: none;
    display: flex;
    flex-flow: column;
    gap: 1em;
}

.back_button, .battle_button{
    padding: 12px;
    color: white;
    background-color:rgb(33, 153, 33);
    border: 1px solid black;
    font-weight: 600;
    font-size: 22px;
    border-radius: 10px;
    cursor: pointer;
    box-shadow: 3px 3px 1px rgba(0, 0, 0, 0.582);
}

.back_button:active{
    background-color:rgb(23, 116, 23);
}

.battle_button{
    color: black;
    background-color: rgb(209, 98, 200);
}

.battle_button:active{
    background-color: rgb(179, 77, 170);
}

.top-of-pokedex{
    width: 100%;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 1em;
}

.red-circle, .yellow-circle, .green-circle{
    width: 1.5em;
    height: 1.5em;
    border-radius: 50%;
    border: 2px solid black;
    box-shadow: 2px 2px 1px rgba(0, 0, 0, 0.582);
}

.blue-circle{
    width: 4em;
    height: 4em;
    background-image: radial-gradient(rgb(68, 81, 252),rgb(18, 18, 168));
    border-radius: 50%;
    border: 6px solid white;
    box-shadow: 3px 3px 2px rgba(0, 0, 0, 0.582);
}

.red-circle{
    background-image: radial-gradient(red, rgb(165, 0, 0));
}

.yellow-circle{
    background-image: radial-gradient(yellow,rgb(185, 185, 0));
}

.green-circle{
    background-image: radial-gradient(rgb(0, 255, 0), rgb(0, 161, 0));
}

.pokedex-buttons{
    gap: 2em;
}

.pokemon-name{
    width: 90%;
    padding: 8px;
    font-size: 24px;
    font-weight: 600;
    border-radius: 15%;
    background-color: rgba(187, 187, 187, 0.438);
}

.no-pokemons-left{
    padding: 15px;
    background-color: rgba(70, 70, 70, 0.445);
    border: 3px solid black;
    border-radius: 10%;
    flex-direction: column;
    gap: 1em;
    color: white;
}
