.goToPokedex{
    position: absolute;
    top: 20px;
    left: 20px;
    background-color: transparent;
    cursor: pointer;
    border: 0;
}

.goToPokedex > img{
    width: 10em;
    height: 10em;
}

