.location{
    padding: 14px;
    background-color: rgb(255, 255, 255);
    color: rgb(202, 26, 26);
    font-weight: 600;
    font-size: 20px;
    border-radius: 10px;
    border: none;
    cursor: pointer;
    box-shadow: 3px 3px 2px black;
}

.location:active{
    background-color: rgb(211, 211, 211);
}