.flex-row-center-center{
  display: flex;
  flex-wrap: wrap;
  overflow: auto;
  gap: 10px;
  max-height: 980px;
}

.App {
  text-align: center;
}

.locations_container{
  flex-direction: column;
  gap: 1em;
}

.pokedexDisplay{
margin: auto;
}

.goToMap{
  width: 100%;
}

.goToBattle{
  width: 100%;
}
