.flex-row-center-center{
  display: flex;
  justify-content: center;
  align-items: center;
}

.pokedex-page{
  flex-direction: column;
  justify-content: flex-start;
  margin-top: 2em;
  height: 100vh;
  width: 90vw;
  gap: 2em;
}

.pokemons-container{
  padding: 2em;
  flex-wrap: wrap;
  background-color: rgba(61, 61, 61, 0.452);
  border-radius: 25px;
  gap: 1em;
}

.App {
  text-align: center;
}

.main_page{
  flex-direction: column;
  gap: 3em;
}

.main-page-header, .pokedex-page > h1{
  padding: 20px;
  color: rgb(255, 255, 255);
  font-size: 3em;
  font-weight: 600;
  border: 5px solid rgb(255, 255, 255);
  border-radius: 25px;
  background-image: radial-gradient(rgba(255, 4, 4, 0.658),rgba(192, 0, 0, 0.644));
  text-shadow: 2px 2px black;
}

.locations_container{
  padding: 25px;
  background-color: rgba(255, 4, 4, 0.452);
  border-radius: 25px;
  border: 5px solid rgb(255, 255, 255);
  width: 60vw;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 1em;
}

.pokedexDisplay{
margin: auto;
}

.win_screen, .lost_screen{
  flex-direction: column;
  gap: 1em;
  border: 5px solid black;
  border-radius: 10%;
  background-color: rgba(78, 78, 78, 0.473);
  padding: 20px;
  color: rgb(255, 255, 255);
}

img{
  width: 15em;
  height: 15em;
  image-rendering: pixelated;
}

.current-pokemon-image{
  padding: 10px;
  position: absolute;
  top: 11em;
  left: 2em;
  width: 6em;
  height: 6em;
  background-color: rgba(0, 0, 0, 0.527);
  border-radius: 10px;
  border: 3px solid black;
}

.pokedex-page > h1{
  background-image: none;
  background-color: rgba(0, 0, 0, 0.315);
  border: none;
  color: rgb(255, 166, 0);
}

@media screen and (max-device-width: 1300px) {
    .pokedex-bar{
      flex-flow: row;
      gap: 2em
    }

    .current-pokemon-image{
      position: static;
    }

    .encounter-page{
      margin-top: 1em;
      flex-flow: column;
      gap: 2em;
    }

  }
