.flex-row-center-center{
  display: flex;
  justify-content: center;
  align-items: center;
}

.dimon-container{
  flex-wrap: wrap;
  overflow: auto;
  gap: 10px;
  max-height: 980px;
}

.App {
  text-align: center;
}

.locations_container{
  flex-direction: column;
  gap: 1em;
}

.pokedexDisplay{
margin: auto;
}

.win_screen, .lost_screen{
  flex-direction: column;
  gap: 1em;
  border: 5px solid black;
  border-radius: 10%;
  background-color: rgba(78, 78, 78, 0.473);
  padding: 20px;
  color: rgb(255, 255, 255);
}

.goToMap{
  width: 100%;
}

.goToBattle{
  width: 100%;
}
